<div class="user-show">
  <div class="side-ber">
    <div class="user-show-nickname">
      <%= @nickname %>
    </div>
    <div class="user-action-btn">
      <div class="user-edit-btn">
        <%= link_to "Edit", edit_user_registration_path(params[:id]) %>
      </div>
      <%= link_to likes_users_path do %>
        <div class="like-btn">
          <%= image_tag "like-icon.jpg", class:"like-icon" %>
          <div class="like-font">いいね</div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="user-main">
    <div class="user-show-info">
      <div class="user-posts">
        <% @posts.each do |post| %>
          <div class="post">
            <div class="content_post">
              <div class="post-each">
                <div class="post-user-nickname">
                  <%= link_to "#{post.user.nickname}", user_path(post.user.id) %>
                </div>
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.image, class:"post-image" %>
                <% end %>
                <div class="name-likes">
                  <div class="name">
                    <%= post.name %>
                  </div>
                  <div class="likes" id="post_<%= post.id %>">
                    <%= render 'posts/post', post: post %>
                  </div>
                </div>
                <p><%= post.text %></p>
                <ul class="tag">
                  <li class="tag-list">
                    <% post.tags.each do |tag| %>
                      <%= link_to "##{tag.tagname}", posts_path(params[:tag_id]) %>
                    <% end%>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>