<div class="contents">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="content_post">
        <div class="post-each">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.image, class:"post-image" %>
          <% end %>
          <div class="name">
            <%= post.name %>
          </div>
          <p><%= post.text %></p>
          <ul class="tag">
            <li class="tag-list">
              <% post.tags.each do |tag| %>
                #<%= tag.tagname %>
              <% end%>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>