<div class="contents">
  <div class="post-side">
    <div class="post-search">
      <div class="search-tag-name">Tagで探す</div>
      <%= form_with(url: search_posts_path, local: true, method: :get, class:"search-form") do |f| %>
        <%= f.text_field :keyword, placeholder: "Tag名を入力する", class:"search-input" %>
        <%= f.submit "検索", class:"search-btn" %>
      <% end %>
      <%= form_with url: search_posts_path, method: :get, class:"search-box", local: true do %>
        <%= select_tag :tag_id,
          options_from_collection_for_select(Tag.all, :id, :tagname, params[:tag_id]),
          {
            prompt: 'タグで絞り込み',
            class: 'select-tag',
            onchange: 'submit(this.form);'
          }%>
      <% end %>
    </div>
  </div>
  <div class="post-main">
    <div class="post-main-body">
      <% @tag.each do |tag_id|%>
        <div class="post">
          <div class="content_post">
            <div class="post-each">
              <% tag_id.posts.each do |post| %>
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.image, class:"post-image" %>
                <% end %>
                <div class="name">
                  <%= post.name %>
                </div>
                <p><%= post.text %></p>
                <ul class="tag">
                  <li class="tag-list">
                    <% post.tags.each do |tag| %>
                      <%= link_to "##{tag.tagname}", posts_path(params[:tag_id]) %>
                    <% end%>
                  </li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>