<div class="post-body">
  <div class="post-main">
    <div class="post">
      <div class="content-post">
        <div class="show-post">
          <div class="post-user-nickname">
            <%= link_to "#{@post.user.nickname}", "#" %>
          </div>
          <%= image_tag @post.image, class:"post-image" %>
          <div class="name">
            <%= @post.name %>
          </div>
          <p><%= @post.text %></p>
          <ul class="tag">
            <li class="tag-list">
              <% @post.tags.each do |tag| %>
                <%= link_to "##{tag.tagname}", posts_path(params[:tag_id]) %>
              <% end%>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="post-btn">
    <div class="show-btns">
      <div class="edit-btn">
        <%= link_to 'Edit', edit_post_path %>
      </div>
      <div class="delete-btn">
        <%= link_to 'Delete', post_path(@post.id), method: :delete %>
      </div>
    </div>
  </div>
</div>