<!DOCTYPE html>
<html>
  <head>
    <title>NShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="grid-6"><a href="/">N-share</a></h1>
      <div class="user_nav-grid-6">
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %>
        <%= link_to 'ログアウト', destroy_user_session_path(params[:id]), method: :delete, class: "logout" %>
        <%= link_to '投稿する', new_post_path, class:"create-post" %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class: "login" %>
        <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
      <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
 <% #%>