<!DOCTYPE html>
<html>
  <head>
    <title>NShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="grid-6"><a href="/">N-share</a></h1>
      <div class="user_nav-grid-6">
        <a class="create-post" href="/posts/new">投稿する</a>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
